django
djangorestframework
psycopg2-binary 
gunicorn
drf_yasg
requests
django-cors-headers
django-redis
redis
dj-rest-auth
django-allauth
djangorestframework-simplejwt
cryptography
python-dotenv
python-docx
PyPDF2
jinja2
httpx
uvicorn
gunicorn
celery
pdf2docx
weasyprint
django-payments