{% if interests %}
<section class="resume-section interests-section">
    <h2>{% if show_icons %}<i class="fas fa-heart"></i> {% endif %}Interests</h2>
    <p>
        {% for interest in interests %}
        {% if interest.keywords %}
            {% for keyword in interest.keywords %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% elif interest.name %}
            {{ interest.name }}
        {% endif %}
        {% if not loop.last and (interest.keywords or interest.name) %}, {% endif %}
        {% endfor %}
    </p>
</section>
{% endif %}
